@page
@model CRUDECardApp.Pages.EditModel
@{
}

<form method="post">
    <div class="row">
        <div class="form-group col-md-6">
            <label>Student Number</label>
            <input type="text" name="StudentNumber" class="form-control" placeholder="Student Number" value=@Model.Student.StudentNumber />
        </div>
        <div class="form-group col-md-6">
            <label>Full Name</label>
            <input type="text" name="FullName" class="form-control" placeholder="Full Name" value=@Model.Student.FullName />
        </div>
        <div class="form-group col-md-6">
            <label>E-Mail</label>
            <input type="text" name="Email" class="form-control" placeholder="E-Mail" value=@Model.Student.Email />
        </div>
        <div class="form-group col-md-6">
            <label>Password</label>
            <input type="text" name="Password" class="form-control" placeholder="Password" value=@Model.Student.SetPassword/>
        </div>
        <div class="form-group col-md-6">
            <label>Picture</label>
            <input type="text" name="Picture" class="form-control" placeholder="Picture" value=@Model.Student.Picture />
        </div>
    </div>

    <button type="submit" class="btn btn-warning w-100 mt-4"><i class="bi bi-pencil-square"></i></button>
</form>